/binary/
/.build/
/build.log
/cache/

/chroot/
/chroot.packages.*
/chroot.files

/config/binary
/config/bootstrap
/config/chroot
/config/common
/config/source
/config/control
/config/build
/config/hooks/live/*
/config/hooks/normal/*
/config/**/*[_.]auto-mame-live[_.]*
/config/**/*[_.]auto-mame-live
!config/**/*[_.]mame-live[_.]*
!config/**/*[_.]mame-live
/config/includes.chroot/etc/hostname
/config/includes.chroot/etc/hosts

/source/

/live-image-*
