/binary/
/.build/
/build.log
/cache/

/chroot/
/chroot.packages.*
/chroot.files

/config/binary
/config/bootstrap
/config/chroot
/config/common
/config/source
/config/control
/config/build
/config/hooks/live/*
/config/hooks/normal/*
/config/**/*.auto-mame-live.*
/config/**/*.auto-mame-live
!config/**/*.mame-live.*
!config/**/*.mame-live

/source/

/live-image-*
